* text=auto
# Builder fragment files depend on exact byte offsets
data/rigid-fragments.txt          text eol=lf
data/rigid-fragments-index.txt    text eol=lf
data/ring-fragments.txt           text eol=lf
data/ring-fragments-index.txt     text eol=lf
